.background{
    display: flex;
    padding: 40px 0;
    line-height: 30px;
    background: lightgrey;
    @include mobile{
        flex-wrap: wrap;
    }

    .not-mobile{
        @include mobile{
            display: none;
        }
    }
    .background-cell{
        padding: 20px 40px;
    }
    li{
        list-style-type: square;
    }
    .background-education{
        width: 50%;
        @include mobile{
            width: 100%;
            padding: 20px 20px;
        }
        .experience-cell{
            width: 80%;
            margin: 0 auto;
            @include mobile{
                padding-left: 0;
                padding-right: 0;
                width: 100%;
                margin: 0;
            }
        }
    }
    .background-experience{
        width: 50%;
        @include mobile{
            width: 100%;
            padding: 20px 20px 20px 30px;
        }
    }
}
.experience-cell{
    padding-top: 30px;
}
.experience-flex{
    display: flex;

    h3, h4{
        width: 50%;
    }
    h4{
        @include mobile{
            width: 55%;
        }
    }
    .experience-position{
        font-weight: bold;
    }
    h3{
        text-align: right;
        @include mobile{
            width: 45%;
        }
    }
    }// .experience-flex
    .experience-description{
        width: 70%;
        @include mobile{
            width: 100%;
        }
    }
.experience-company{
    @include mobile{
        width: 60%;
    }
}
.experience-location{
    @include mobile{
        width: 40%;
    }
}
