 .contact-me{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 20px 10px;
    padding-bottom: 100px;
    background: lightgrey;
    a{
        padding: 0 20px;
        font-weight: 400;
    
        &:hover{
            color: blue;
        }
        &:focus{
            border: none;
        }
    }
   
    h1{
        width: 50%;
        padding:10px 0;
        &.resume{
            width: 100%;
            text-align: center;
            a{
                padding-right: 0;
                padding-left: 20px;
            }
        }
        &.mobile, &.linkedin{
            text-align: right;
        }
    }
}