*,
*::after,
*::before {
    box-sizing: border-box;
}

*:focus {
    outline: none;
    border: 1px solid $focus-color;
}

html {
    scroll-behavior: smooth;
}
body{
    max-width: $body_max_width;
    margin: 0 auto;
    overflow: hidden;
    position:relative;
}
h1{
    font-size: $h1-font-size;
}
h2{
    font-size: $h2-font-size;
}
a{
    text-decoration: none;
    color: inherit;
}