*,
*::after,
*::before {
    box-sizing: border-box;
}

*:focus {
    outline: none;
    border: 1px solid $focus-color;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: $body_max_width;
    margin: 0 auto;
    position: relative;
    background:$body_background_color;
    background-size: contain;
    font-family: $main-font-family;
}

h1 {
    font-size: $h1-font-size;
    @include mobile{
        font-size: $h1-font-size-mobile;
    }
}

h2{
    font-size: $h2-font-size;
    @include mobile{
        font-size: $h2-font-size-mobile;
    }
}

h3,
h4 {
    font-size: $h3-h4-font-size;
    @include mobile{
        font-size: $h3-h4-font-size-mobile;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.hr-line {
    width: 80%;
    margin: 0 auto;

    hr {
        border-top: 2px solid black;
    }
}
.professional-page-h1,
.personal-page-h1,
.contact-page-h1 {
    text-align: center;
    padding: 90px 0;
    @include mobile{
      font-size: 2em ;
    }
}
.professional-page-h1{
    background:$header-color;
}

.personal-page-h1{
    background: $header-color;

}
.contact-page-h1{
    background: $header-color;
}

.projects-mobile{
    display: none;
    @include mobile{
        display: initial;
    }
}
.projects{
    @include mobile{
        display: none;
    }
}