*,
*::after,
*::before {
    box-sizing: border-box;
}

*:focus {
    outline: none;
    border: 1px solid $focus-color;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: $body_max_width;
    margin: 0 auto;
    position: relative;
}

h1 {
    font-size: $h1-font-size;
}

h2,
    {
    font-size: $h2-font-size;
}

h3,
h4 {
    font-size: $h3-h4-font-size;
}

a {
    text-decoration: none;
    color: inherit;
}

.hr-line {
    width: 80%;
    margin: 0 auto;

    hr {
        border-top: 2px solid black;
    }
}

.main-container {
    // margin-top: 90px;
}

.professional-page-h1,
.personal-page-h1,
.contact-page-h1 {
    text-align: center;
    padding: 90px 0;
    background: rgb(182, 180, 180);
}