@mixin tablet {
    @media (min-width: $tablet-width) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile-width) {
        @content;
    }
}

// @mixin text-news($background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%),
//     $size: cover,
//     $text-align: left) {
//     background: $background;
//     background-size: $size;
//     text-align: $text-align;
// }

@mixin vertical-align{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}