header {
    background: black;
    position: fixed;
    max-width: $body_max_width;
    height: fit-content;
    width:100%
}

.front-page-nav-bar {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    right: 0;

    .nav-logo {
        display: flex;
        padding-left: 3em;

        img {
            width: 5vw;
        }

        .alex-name {

            h1 {
                font-size: 2em;
                color: $gold-color;
                @include vertical-align;
                padding-left: 1em;
            }
        }
    }

    .nav-links {
        width: 60vw;

        ul {
            @include vertical-align;
            display: flex;
            justify-content: space-around;

            li {
                font-size: 2em;
                color: $gold-color;
            }
        }
    }


}