header {
    background: black;
    position: fixed;
    max-width: $body_max_width;
    height: 90px;
    width: 100%;
    z-index: 9999;
    top: 0;
}

.front-page-nav-bar {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    right: 0;

    .nav-logo {
        // display: flex;
        padding-left: 3em;
        @include mobile{
            padding-left: 1em;
            // margin: 0 auto;
        }
        img {
            max-width: 4.5vw;
            @include mobile{
                width: 20vw;
                
            }
        }

        .alex-name {
            width: 15vw;

            h1 {
                font-size: 2em;
                color: $gold-color;
                padding-left: 1em;
                position: relative;
                top: 100%;
                transform: translateY(-100%);
                text-align: left;
            }
        }
    }

    

    .icons-banner {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding:0  150px;
        @include mobile{
            justify-content: space-between;
            padding: 0 85px;
            padding-right: 20px;
        }

        img {
            height: 7vh;
            // border-radius: 50%;
            
        }

        h2 {
            color: $gold-color;
            text-align: left;
            width: 100%;
            font-size: 25px;
            @include mobile{
                display: none;
            }

        }

        .nav-icon {
            display: flex;
            align-items: center;
        }

        .icon-me-thinking {
            // align-self: flex-start;
        }

        .icon-me-bone {
            // align-self: center;
        }

        .icon-me-hand {
            // align-self: flex-end
        }

    }


}