.skills{
    height: fit-content;
    display: flex;
    background: $background_lightgray;
    @include mobile{
        display: initial;
    }
}
.my-skills-title{
    background: $background_lightgray;
    width: 100%;
    margin: 0;
}
.skills-tech, .skills-soft {
    margin: 40px 10px;;
    width: 50%;
    @include mobile{
        width: 100%;
    }

}

h2 {
    color: black;
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 20px;
    color: #db3a34;
}

.bar {
    width: 90%;
    height: 35px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    transition: all 2s linear;
    
}

.bar-1,
.my-skills {
    width: 80%;
    margin: 10px auto 25px;
}
.bar-1 .title{
    font-size: 15px;
    padding-bottom: 5px;
}

.bar-inner {
    width: 0;
    height: 35px;
    line-height: 35px;
    background: #db3a34;
    border-radius: 5px 0 0 5px;
}

.bar-percent {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 18px;
    font-weight: bold;
}