// Windos max ::-webkit-slider-thumb
$body_max_width: 1500px;

// Responsive dimensions
$tablet-width: 480px;
$desktop-width: 1000px;

// Fonts
$basic-fontSize: 16px;
$h1-font-size: 4em;
$h2-font-size: 3em;


// colors
$gold-color: #c5aa65;
$text-color: #fff;
$background-color: black;
$focus-color: red;